@import "tailwindcss";

@theme{
  --font-main: Courier, monospace;
}

/* создаем свой класс со своими свойствами */
@layer components {
    .btn-home-page{
      @apply hover:font-bold hover:text-2xl cursor-pointer 
    }
    .modal-home-page{
      @apply w-full h-full bg-black/30 backdrop-blur-md flex items-center justify-center z-10 fixed top-0 left-0
    }
    .btns_actions{
      @apply w-8 h-15 hover:scale-110;
    } 
  }

/*
@layer base {
  h1 {
    @apply my-8 border-t border-gray-200 ;
  }
} */

/*
@layer utilites {
  .container {
    здесь просто переопределяем класс (что-то добавляем чтото изменяем под себя)
  }
} */

.main-font {
  font-weight: 600;
  color: rgb(0, 255, 0);
}

.bg-image {
  /* Пропорции изображения сохранены */
  background-size: cover;
  /* Исключаем повторение */
  background-repeat: no-repeat;
  /* Центрируем изображение */
  background-position: center;
}

.text-modal-home-page{
  font-size: clamp(.5rem, 3vw, 4rem);
}