@import "tailwindcss";

@theme{
  --font-main: Courier, monospace;
}

/* создаем свой класс со своими свойствами */
@layer components {
    .btns_actions{
      @apply w-8 h-15 hover:scale-110;
    } 
  }

/*
@layer base {
  h1 {
    @apply my-8 border-t border-gray-200 ;
  }
} */

/*
@layer utilites {
  .container {
    здесь просто переопределяем класс (что-то добавляем чтото изменяем под себя)
  }
} */

.main-font {
  font-weight: 600;
  color: rgb(0, 255, 0);
}

.bg-image {
  /* Пропорции изображения сохранены */
  background-size: cover;
  /* Исключаем повторение */
  background-repeat: no-repeat;
  /* Центрируем изображение */
  background-position: center;
}

  